.row{

    @mixin clearFix;

    &--gutters{
      margin-right: -3.5%;
    }

    &--gutters > div {
      padding-right: 3.5%;
    }


    &--gutters-large{
      margin-right: -5%;

      @mixin atLarge{
        margin-right: -100px;
      }
    }

    &--gutters-large > div {
      padding-right: 5%;

      @mixin atLarge{
        padding-right: 100px;
      }
    }

    @mixin atMedium{
      &__medium-4{
        float: left;
        width: 33.333%;
      }

      &row__medium-4--larger{
        width: 37%;
      }

      &__medium-6{
        float: left;
        width: 50%;
      }

      &__medium-8{
        float: left;
        width: 66.667%;
      }

      &row__medium-8--smaller{
        width: 63%;
      }
    }

    @mixin atLarge{
      &__large-4{
        float: left;
        width: 33.333%;
      }

      &row__large-4--larger{
        width: 37%;
      }

      &__large-6{
        float: left;
        width: 50%;
      }

      &__large-8{
        float: left;
        width: 66.667%;
      }

      &row__large-8--smaller{
        width: 63%;
      }
    }

    /* Equal Height Rules */

    .flexbox &--equal-height-at-medium{
      @mixin atMedium{
        display: flex;
      }

      & > div {
        float: none;
        display: flex;
      }
    }

    .flexbox &--equal-height-at-large{
      @mixin atLarge{
        display: flex;
      }

      & > div {
        float: none;
        display: flex;
      }
    }
}
