.section-title{
  font-size: 2.125rem;
  margin-bottom: 3.25rem;
  font-weight: 300;
  text-align: center;

  @mixin atSmall{
    margin-bottom: 1em;
    font-size: 3.75rem;
  }

  strong {
    font-weight: 500;
  }

  &__icon{
    margin-right: 0rem;
    display: inline-block;
    vertical-align: -45%;

    @mixin atSmall{
      margin-right: 0.5rem;
      vertical-align: top;
    }
  }

  &__icon-top{
    display: block;
    margin: 0 auto 0.5em auto;

    @mixin atSmall{
      display: inline-block;
      margin: 0;
      margin-right: 0.5rem;
      vertical-align: -18%;
    }

  }

  &--blue{
    color: $mainBlue;
  }

  &--no-b-margin-until-large{
    margin-bottom: 0;

    @mixin atLarge{
      margin-bottom: 3.25rem;
    }
  }
}
